<div id="<%= dom_id job %>" class="job-item">
    <h4><%= job.title %></h4>
    <p><%= job.location %></p>
    <p><%= job.salary %></p>
    <p><%= job.link %></p>
    <%= button_to "Remove this job", @job, method: :delete %>
</div>


