<div id="<%= dom_id job %>">
    <p><%= job.title %></p>
    <p><%= job.location %></p>
    <p><%= job.salary %></p>
    <p><%= job.link %></p>
    <p><%= job.latitude %></p>
    <p><%= job.longitude %></p>
</div>


