
<%= form_tag scrape_jobs_path, method: :get do %>
  <label for="job">Search: Job</label>
  <%= text_field_tag :job %>

  <label for="location">Location</label>
  <%= text_field_tag :location %>

  <label for="radius">Radius</label>
  <%= select_tag :radius, options_for_select([5, 10, 20, 30]) %>

  <label for="advanced">Advanced search</label>
  <%= check_box_tag :advanced %>

  <div id="extra_search" style="display:none;">
    <label for="remote">Work from home only</label>
    <%= check_box_tag :remote %>
  </div>

 <%= submit_tag "Search" %>
<% end %>

