<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= include_gon %>

<div class="scraped">
  <h2><%=@scrape.length%> Jobs found</h2>

  <% provide :head_tags do %>
    <%= javascript_import_module_tag "map" %>
  <% end %>
  <div id="map" data: {@scrape.to_json}></div>

</div>


