<div class="topbar">
    <a href=<%=root_path%> id="home">
        <p>J</p>
        <%= image_tag"compass.png", id: "compass"%>
        <p>B-Map</p>
    </a>

    <% if user_signed_in? %>
        <div class="sign-links">
            <%= link_to "Saved jobs", miniIndex_user_jobs_path(current_user), data: { turbo_frame: "modal" } %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </div>
    <% else %>
        <div class="sign-links">
            <%= link_to 'Sign in', new_user_session_path %>
            <%= link_to 'Sign up', new_user_registration_path %>
        </div>
    <% end %>
</div>