<!DOCTYPE html>
<html>
  <head>
    <title>Job-Map</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ENV["map_api_key"]+'&callback=Function.prototype'%>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield(:head_tags) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
